.App {
  padding: 3em;
}

h1 {
  margin-bottom: 1.5em;
}

.demo {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

.demo .example {
  width: 33%;
  flex-grow: 1;
  text-align: center;
}

.demo .example.wide {
  flex-grow: 2;
}

.demo .example h3 {
  text-align: center;
}
