.Item {
  width: 100%;
  list-style: none;
  text-align: center;
}

.Item.disabled {
  background: lightgray;
}

@keyframes backgroundFlashPink {
  0% {background-color: transparent;}
  5% {background-color: pink;}
  75% {background-color: pink;}
  100% {background-color: transparent;}
}

.Item.error {
  animation-name: backgroundFlashPink;
  animation-duration: 4s;
}
